<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{username}}</title>

    <style>
        * {
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
        }
        body {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
            font-size: 16px;
            line-height: 20px;
            color: lightgrey;
            /*background-color: #1a1a1a;*/
            transition: 300ms;
        }
        body.Night {
            /*color: lightgrey;*/
            background-color: #1a1a1a;
        }
        body.Day {
            /*color: #1a1a1a;*/
            background-color: lightgrey;
        }
        h2 {
            font-size: 32px;
            line-height: 40px;
            font-weight: 200;
            margin: 10px 10px 10px 0px;
            /*color: whitesmoke;*/
            transition: 300ms;
        }
        body.Night h2 {
            color: whitesmoke;
        }
        body.Day h2 {
            color: #262626;
        }
        #Title {
            width: 730px;
        }
        #Menu {
            right: 10px;
        }
        #Content {
            position: relative;
            width: 1100px;
            margin-right: auto;
            margin-left: auto;
            padding: 0px 0px 0px 10px;
            border-bottom: 1px solid transparent;
        }
        h3 {
            font-size: 20px;
            font-weight: 200;
            margin-bottom: 10px;
            /*color: whitesmoke;*/
            transition: 300ms;
        }
        body.Night h3 {
            color: whitesmoke;
        }
        body.Day h3 {
            color: #262626;
        }
        ::-webkit-scrollbar-button { width: 0px; height: 0px; }
        ::-webkit-scrollbar-track { background-color: transparent; }
        ::-webkit-scrollbar-thumb { border-radius: 5px; background-color: #333333; }
        ::-webkit-resizer { width: 0px; height: 0px; }
        ::-webkit-scrollbar{ width: 10px; height: 10px; }
        ::-webkit-scrollbar-corner { background-color: transparent; }

        #tabs {
            height: 320px;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            background-color: #262626;
            margin-bottom: 10px;
            position: relative;
        }
        .tablinks {
            display: inline-block;
            padding: 5px 10px 0px 10px;
            cursor: pointer;
            transition: 300ms;
        }
        .tabheader {
            transition: 300ms;
        }
        body.Night .tabheader {
            background-color: #1a1a1a;
        }
        body.Day .tabheader {
            background-color: lightgrey;
        }
        .tablinks:hover {
            background-color: #333333;
        }
        .tablinks.active {
            background-color: #262626;
        }
        .tablinks:hover h3 {
            color: whitesmoke !important;
        }
        .tablinks.active h3 {
            color: whitesmoke !important;
        }
        .tabcontent {
            display: none;
            padding: 10px 10px 10px 20px;
            position: absolute;
            top: 35px;
        }
        #Photo {
            display: block;
        }

        #Photo, #Social, #Email, #Password {
            width: 500px;
        }


        #UserPhoto {
            width: 200px;
            height: 200px;
            text-align: center;
            background-color: #262626;
            overflow: hidden;
            border-radius: 100px;
            display: inline-block;
            vertical-align: top;
            margin-right: 90px;
        }
        #UserPhoto img {
            max-width: 200px;
        }

        #tabs {
            display: inline-block;
        }

        #uploadPhoto, #deletePhoto {
            margin: 10px 0px;
        }

        #btns {
            width: 500px;
            text-align: center;
            margin: 300px 0px 10px 0px;
        }

        .btn,
        .submit-btn {
            height: 30px;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            transition: 300ms;
            background-color: #333333;
            color: lightgrey;
            padding: 0px 10px;
            font-size: 15px;
        }
        .btn:hover,
        .submit-btn:hover {
            background-color: dodgerblue;
        }

        .submit-btn {
            margin: 10px 0px 10px 360px;
        }


        #social-networks-form td:nth-child(1):after {
            content: '@';
            position: absolute;
            right: 0;
        }

        td:first-child {
            width: 200px;
        }
        td:last-child {
            width: 250px;
        }
        td {
            position: relative;
            border-bottom: 3px solid transparent;
        }
        td input {
            width: 100%;
            height: 30px;
            border-radius: 15px;
            border: none;
            background-color: #333333;
            padding: 0px 10px 0px 10px;
            color: lightgrey;
            font-size: 14px;
        }
        td input.code {
            padding-right: 40px;
        }
        div.message {
            width: 455px;
            padding-bottom: 10px;
            display: none;
            text-align: center;
        }
        div.message.ErrorMessage {
            /*border: 1px solid red;*/
            color: red;
            /*background-color: #ffcccc;*/
            display: block;
        }
        div.message.SuccessMessage {
            /*border: 1px solid green;*/
            color: green;
            /*background-color: #ccffcc;*/
            display: block;
        }
        #sendCode1,
        #sendCode2 {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 30px;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            transition: 300ms;
            background-color: transparent;
        }
        #sendCode1:hover,
        #sendCode2:hover {
            background-color: dodgerblue;
        }
        #sendCode1 img,
        #sendCode2 img {
            height: 30px;
            padding: 5px;
        }



        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        label.btn {
            display: inline-block;
            line-height: 30px;
            font-weight: normal;
        }
        #filename {
            font-weight: normal;
            display: inline-block;
            width: 308px;
            overflow: hidden;
            white-space: nowrap;
            margin: 0px 10px;
            line-height: 30px;
            vertical-align: bottom;
            text-align: left;
            position: relative;
        }
        #filename:after {
            content: "";
            position: absolute;
            display: block;
            height: 30px;
            width: 40px;
            right: 0px;
            top: 0px;
            z-index: 1;
            background: linear-gradient(to left, #262626, transparent);
        }
    </style>
</head>
<body class="{{#if night}}Night{{else}}Day{{/if}}">
<div id="Content">
<h2>{{username}}</h2>
{{> menu this}}

<div id="UserPhoto"><img id="profilePhoto" src="images/users/{{username}}.png" onerror="this.src='images/default-user.png'; this.style.marginTop='50px'"></div>

<div id="tabs">
    <div class="tabheader">
        <a class="tablinks active" onclick="openTab(event, 'Photo')"><h3>Фото</h3>
        </a><a class="tablinks" onclick="openTab(event, 'Social')"><h3>Соц. сети</h3>
        </a><a class="tablinks" onclick="openTab(event, 'Email')"><h3>Эл. почта</h3>
        </a><a class="tablinks" onclick="openTab(event, 'Password')"><h3>Безопасность</h3></a>
    </div>
    <div id="Photo" class="tabcontent">
        <form id="profile-photo-form" name="profile-photo-form">
            <table>
                <tr>
                    <th><input type="file" name="photo" accept=".jpg, .jpeg, .png" id="file" class="inputfile" />
                        <label class="btn" for="file">Выберите файл</label><span id="filename">Файл не выбран</span></th>
                </tr>
                <tr>
                    <th><button id="uploadPhoto" class="btn" type="button">Загрузить</button>
                    <button id="deletePhoto" class="btn" type="button">Удалить</button></th>
                </tr>
            </table>
        </form>
        <div class="message" id="m1"></div>
    </div>


    <div id="Social" class="tabcontent">
        <form id="social-networks-form" name="social-networks-form">
            <table>
                <tr>
                    <td>Телеграм</td>
                    <td><input type="text" name="telegram" placeholder="username" value="{{telegram}}"></td>
                </tr>
                <tr>
                    <td>Твиттер</td>
                    <td><input type="text" name="twitter" placeholder="username" value="{{twitter}}"></td>
                </tr>
                <tr>
                    <td>ВКонтакте</td>
                    <td><input type="text" name="vk" placeholder="username" value="{{vk}}"></td>
                </tr>
                <tr>
                    <td>Инстаграм</td>
                    <td><input type="text" name="instagram" placeholder="username" value="{{instagram}}"></td>
                </tr>
            </table>
            <button class="submit-btn" type="submit">Сохранить</button>
        </form>
        <div class="message" id="m2"></div>
    </div>


    <div id="Email" class="tabcontent">
        <form id="email-form" name="email-form">
            <table>
                <tr>
                    <td>Адрес электронной почты</td>
                    <td><input name="email" type="email" placeholder="my_email@email.com" value="{{email}}" required></td>
                </tr>
                <tr>
                    <td>Пароль</td>
                    <td><input name="password" type="password" placeholder="my_password" required></td>
                </tr>
                <tr>
                    <td>Код подтверждения</td>
                    <td><input class="code" name="code" type="text" placeholder="1234" required> <button id="sendCode1" type="button"><img src="../images/mail.png"></button></td>
                </tr>
            </table>
            <button class="submit-btn" type="submit">Сохранить</button>
        </form>
        <div class="message" id="m3"></div>
    </div>


    <div id="Password" class="tabcontent">
        <form id="password-form" name="password-form">
            <table>
                <tr>
                    <td>Новый пароль</td>
                    <td><input name="password" type="password" placeholder="my_new_password" required></td>
                </tr>
                <tr>
                    <td>Подтверждение пароля</td>
                    <td><input name="confirm_password" type="password" placeholder="my_new_password" required></td>
                </tr>
                <tr>
                    <td>Код подтверждения</td>
                    <td><input class="code" name="code" type="text" placeholder="1234" required> <button id="sendCode2" type="button"><img src="../images/mail.png"></button></td>
                </tr>
            </table>
            <button class="submit-btn" type="submit">Сохранить</button>
        </form>
        <div class="message" id="m4"></div>
    </div>

    <div id="btns"><button class="btn" id="profile">Вернуться к профилю</button> <button class="btn" id="logout">Выйти</button></div>
</div>

</div>

</div>
{{> footer}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let height = Math.max(
                document.body.scrollHeight, document.documentElement.scrollHeight,
                document.body.offsetHeight, document.documentElement.offsetHeight,
                document.body.clientHeight, document.documentElement.clientHeight
        );
        let footer = $("#Footer").css('height').replace("px", "");
        $("#Content").css("min-height", height - footer - 10 + "px");

        $("input[type=file]#file").change(function(){
            let filename = $(this).val().replace(/.*\\/, "");
            $("#filename").text(filename);
        });
    });

    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            $(tabcontent[i]).fadeOut(300); //.style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        $(document.getElementById(tabName)).fadeIn(300); //.style.display = "block";
        evt.currentTarget.className += " active";
    }

    $("#profile").click(function (e) {
        window.location.replace("/users/{{user}}");
    });

    $("#logout").click(function(e) {
        $.ajax({
            type: "POST",
            url: "/logout",
            success: function(data, statusCode) {
                window.location.replace("/");
            }
        });
        return false;
    });

    // upload photo

    $("#uploadPhoto").click(function(e) {
        var message = $("#m1");
        message.removeClass("ErrorMessage SuccessMessage");

        if (!e.target.form.photo.files[0]) {
            message.addClass("ErrorMessage");
            message.text("Необходимо выбрать фото!");
            return false;
        }

        var formData = new FormData;
        formData.append('photo', e.target.form.photo.files[0]);
        $.ajax({
            type: "POST",
            url: "/uploadphoto",
            data: formData,
            processData: false,
            contentType: false,
            success: function(data, statusCode) {
                message.addClass("SuccessMessage");
                message.text(data.message);
                $("#profilePhoto").css("margin", "0px");
                $("#profilePhoto").attr("src", "images/users/{{username}}.png?t=" + new Date().getTime());
            },
            error: function(data, statusCode) {
                message.addClass("ErrorMessage");
                message.text(data.responseJSON.message);
            }
        });
    });

    // delete photo

    $("#deletePhoto").click(function(e) {
        var message = $("#m1");
        message.removeClass("ErrorMessage SuccessMessage");

        $.ajax({
            type: "POST",
            url: "/deletephoto",
            success: function(data, statusCode) {
                message.addClass("SuccessMessage");
                message.text(data.message);
                $("#profilePhoto").attr("src", "images/users/{{username}}.png?t=" + new Date().getTime());
            },
            error: function(data, statusCode) {
                message.addClass("ErrorMessage");
                message.text(data.responseJSON.message);
            }
        });
    });

    // save social networks

    $(document.forms['social-networks-form']).submit(function(e) {
        const telegram = e.target.telegram.value;
        const twitter = e.target.twitter.value;
        const vk = e.target.vk.value;
        const instagram = e.target.instagram.value;
        var message = $("#m2");
        message.removeClass("ErrorMessage SuccessMessage");
        $.ajax({
            type: "POST",
            url: "/updatesocialnetworks",
            data: JSON.stringify({telegram, twitter, vk, instagram}),
            dataType: "json",
            contentType: "application/json",
            success: function(data, statusCode) {
                message.addClass("SuccessMessage");
                message.text(data.message);
            },
            error: function(data, statusCode) {
                message.addClass("ErrorMessage");
                message.text(data.responseJSON.message);
            }
        });
        return false;
    });

    // send code 1

    $("#sendCode1").click(function(e) {
        const email = e.target.form.email.value;
        var message = $("#m3");
        message.removeClass("ErrorMessage SuccessMessage");
        if (!email) {
            message.addClass("ErrorMessage");
            message.text("Необходимо ввести адрес электронной почты!");
            return false;
        }
        console.log("send to " + email);
        $.ajax({
            type: "POST",
            url: "/sendcodeforemailconfirmation",
            data: JSON.stringify({email}),
            dataType: "json",
            contentType: "application/json",
            success: function(data, statusCode) {
                message.addClass("SuccessMessage");
                message.text(data.message);
            },
            error: function(data, statusCode) {
                message.addClass("ErrorMessage");
                message.text(data.responseJSON.message);
            }
        });
        return false;
    });

    // change email

    $(document.forms['email-form']).submit(function(e) {
        const email = e.target.email.value;
        const password = e.target.password.value;
        const code = e.target.code.value;
        var message = $("#m3");
        message.removeClass("ErrorMessage SuccessMessage");
        $.ajax({
            type: "POST",
            url: "/updateemail",
            data: JSON.stringify({email, password, code}),
            dataType: "json",
            contentType: "application/json",
            success: function(data, statusCode) {
                message.addClass("SuccessMessage");
                message.text(data.message);
            },
            error: function(data, statusCode) {
                message.addClass("ErrorMessage");
                message.text(data.responseJSON.message);
            }
        });
        return false;
    });

    // send code 2

    $("#sendCode2").click(function(e) {
        var message = $("#m4");
        message.removeClass("ErrorMessage SuccessMessage");
        $.ajax({
            type: "POST",
            url: "/sendcodeforpasswordchange",
            success: function(data, statusCode) {
                message.addClass("SuccessMessage");
                message.text(data.message);
            },
            error: function(data, statusCode) {
                message.addClass("ErrorMessage");
                message.text(data.responseJSON.message);
            }
        });
        return false;
    });

    // change password

    $(document.forms['password-form']).submit(function(e) {
        const password = e.target.password.value;
        const confirm_password = e.target.confirm_password.value;
        const code = e.target.code.value;
        var message = $("#m4");
        message.removeClass("ErrorMessage SuccessMessage");
        if (password !== confirm_password) {
            message.addClass("ErrorMessage");
            message.text("Пароли не совпадают!");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/updatepassword",
            data: JSON.stringify({password, code}),
            dataType: "json",
            contentType: "application/json",
            success: function(data, statusCode) {
                message.addClass("SuccessMessage");
                message.text(data.message);
            },
            error: function(data, statusCode) {
                message.addClass("ErrorMessage");
                message.text(data.responseJSON.message);
            }
        });
        return false;
    });

</script>

</body>
</html>